* {
    color: #353535;
    font-family: sans-serif;
}

h1 {
    text-align: center;
}

body {
    width: 800px;
    margin: 0 auto;
}

dt {
    border-left: 4px solid #353535;
    font-weight: bold;
    padding-left: 8px;
}

h2 {
    border-bottom: 2px solid #353535;
    padding-bottom: 15px;
}
